@font-face {
  font-family: "iconfont"; /* Project id 5111976 */
  src: url('iconfont.woff2?t=1768619787310') format('woff2'),
       url('iconfont.woff?t=1768619787310') format('woff'),
       url('iconfont.ttf?t=1768619787310') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-xiugai:before {
  content: "\e632";
}

.icon-sixin:before {
  content: "\e788";
}

.icon-shanchu:before {
  content: "\e662";
}

.icon-zhihu:before {
  content: "\e809";
}

.icon-xiaoxi:before {
  content: "\e6f2";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weixin1:before {
  content: "\e6ea";
}

.icon-jiahao:before {
  content: "\e728";
}

.icon-rebang:before {
  content: "\e60b";
}

.icon-fabushipin:before {
  content: "\e64b";
}

.icon-icon-sousuo:before {
  content: "\e688";
}

.icon-QQ1:before {
  content: "\e876";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-xiaoxi1:before {
  content: "\e61c";
}

.icon-fabu-fashipin:before {
  content: "\e60f";
}

.icon-gengxin:before {
  content: "\e620";
}

.icon-xinde:before {
  content: "\e66f";
}

.icon-xiehuida:before {
  content: "\e693";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-zhihu1:before {
  content: "\e602";
}

.icon-tiwenti:before {
  content: "\e63b";
}

.icon-tiwenti1:before {
  content: "\e609";
}

.icon-xiehuida1:before {
  content: "\e643";
}

.icon-zengjia:before {
  content: "\ec6a";
}

.icon-huore:before {
  content: "\ff7c";
}

.icon-a-113_sixin:before {
  content: "\e863";
}

.icon-bianjiwenzhang_huaban1:before {
  content: "\e603";
}

